
.App-link {
  color: #61dafb;
}



body {
  background-color: rgb(178, 246, 208);
  
}

::selection {
   background: rgb(246, 225, 69);
   
}

h1 {
  font-size: 6vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 5px 2px #ffc107;
}

footer p {
  font-size: 2vw;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-shadow: 3px 2px #ffc107;
}

.Dropdown {
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: gold;
  height: 50px;
  width: 400px;
  font-size: 35px;
  padding: 3px;
}

option {
  position: absolute;
  background-color: gold;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.modal img {
  height: 300px;
  width: 100%;
  padding: 3px;
}
.modal {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}