.gallery-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, 1fr);
    gap: 5px; 
    padding:2rem;
    
  }

  #nav {
    padding: 2rem 3rem;
    margin: 1.5rem;
  }
  #nav h1 {
    margin-bottom: 2rem;
  }

  footer {
    padding: 2rem 3rem;
    margin: 1.5rem;
  }

  .gallery-item {
    
    margin: 1rem;
    padding: .5rem;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    
  }


 
  .gallery-item img {
    height: 42%;
    width: 90%;
    padding: 10px;
       

  }

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
    
  }

  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    
  }